.footer {
    flex-shrink: 0;
    background-color: rgb(138, 0, 74);
    color: rgb(243, 243, 243);
    padding: 7px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 5px;
}

.createdBy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: rgb(243, 243, 243);
    font-size: 15px;
    font-weight: 430;
}

.createdBy>a {
    display: flex;
    align-items: center;
    justify-content: center;
}