.header {
    flex-shrink: 0;
    margin-bottom: -2px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: rgb(116, 0, 61);
    padding: 6px 40px;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid rgb(174, 174, 174);
}

.headerGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.headerTitle {
    flex: 1;
    align-self: center;
}

.title>a {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    letter-spacing: .15rem;
    color: rgb(116, 0, 61);
}

.title>a:hover {
    color: rgb(147, 0, 79);
}

.buttonWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.cart {
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: rgb(147, 0, 79);
    position: relative;
}

.cart:before {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    bottom: -15px;
    background-color: rgb(28, 28, 28);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.cart:hover::before,
.cart:focus::before {
    transform: scaleX(1);
}

.cart:focus {
    outline: 0;
}

.cartIcon {
    height: 25px;
    fill: rgb(116, 0, 61);
    text-align: center;
}


@media screen and (max-width: 768px) {
    .header {
        padding: 6px 20px;
    }
}