main {
    flex: 1 0 auto;
    background-color: rgb(255, 255, 255);
}

.splashImage {
    position: relative;
    background:
        linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url(/public/images/clothesline.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat, no-repeat;
}

.splashText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}

.title {
    margin: 0;
    line-height: 1;
    font-size: 4rem;
    white-space: nowrap;
    font-weight: 800;
}

.titleSup {
    font-weight: 500;
    margin: 0;
    font-size: 2rem;
    line-height: 2;
}

.splashButton {
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid rgb(248, 248, 248);
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: rgb(248, 248, 248);
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 40px;
    padding: 0;
}

.splashButton:hover {
    background-color: rgb(248, 248, 248);
    color: rgb(116, 0, 61);
    outline: none;
    border: none;
}

.splashButton:focus {
    outline: 1px solid rgb(248, 248, 248);
    outline-offset: 2px;
}

.productDetails {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 60px;
    color: rgb(52, 52, 52);
    gap: 60px;
}

.productDetailsGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 370px;
}

.productDetailsImg {
    height: 100px;
}

.productDetailsTitle {
    color: rgb(13, 13, 13);
    text-align: center;
    margin: 30px 0px;
    line-height: 1;
}

.productDetailsGroup>p {
    margin: 0;
    padding: 0;
    text-align: center;
}

@media (max-width: 500px) {
    .productDetails {
        flex-direction: column;
        gap: 40px;
    }

    .title {
        font-size: 3rem;
    }

    .titleSup {
        font-size: 1.5rem;
    }
}