main {
    flex: 1 0 auto;
    background-color: rgb(210, 210, 210);
}

.splashImage {
    position: relative;
    background:
        linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url(/public/images/clothesline.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat, no-repeat;
}

.splashText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.title {
    margin: 0;
    line-height: 1;
    font-size: 4rem;
    white-space: nowrap;
    font-weight: 800;
}

.titleSup {
    font-weight: 500;
    margin: 0;
    font-size: 2rem;
    line-height: 2;
}

.splashButton {
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid rgb(248, 248, 248);
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: rgb(248, 248, 248);
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 40px;
    padding: 0;
}

.splashButton:hover {
    background-color: rgb(248, 248, 248);
    color: rgb(116, 0, 61);
    outline: none;
    border: none;
}

.splashButton:focus {
    outline: 1px solid rgb(248, 248, 248);
    outline-offset: 2px;
}